<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div th:each="r : ${requests}" class="conversation">

        <img th:src="${r.sender.profileImage}">

        <div>
            <div th:text="${r.sender.name}"></div>

            <form action="/chat/accept" method="post">
                <input type="hidden" name="id" th:value="${r.id}">
                <button>Accept</button>
            </form>

            <form action="/chat/reject" method="post">
                <input type="hidden" name="id" th:value="${r.id}">
                <button>Reject</button>
            </form>
        </div>

    </div>
</body>

</html>